:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

table {
  border-spacing: 0px;
  max-width: 100%;
  border: 1px solid;
  border-collapse: collapse;
}

thead > tr {
  padding: 1rem;
  text-align: center;
  border: 3px solid;;
  border-radius: 5px;
  background-color: #37851f;
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
}

thead > tr:hover {
  background-color: #1e6f8f;
}

tbody > tr:nth-child(odd) {
  background-color: #fff1;
}

tbody > tr:hover {
  background-color: #646cff;
}

tr {
  text-align: center;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
}

th, td {
  margin: 0px;
  padding: 0.25em;
}
